<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<div class="jumbotron">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <form class="fa">
        <p>
            <a active class="btn btn-primary btn-sm" href="/get/bat_avg/50">Great Batsmen </a>
            <a active class="btn btn-primary btn-sm" href="/get/bat_avg/45">Good Batsmen </a>
        </p>
    </form>

    <form class="fa">
        <a class="btn btn-primary btn-sm" href="/get/country/AUS">AUS </a>
        <a class="btn btn-primary btn-sm" href="/get/country/ENG">ENG</a>
        <a class="btn btn-primary btn-sm" href="/get/country/IND">IND</a>
        <a class="btn btn-primary btn-sm" href="/get/country/NZ">NZ</a>
        <a class="btn btn-primary btn-sm" href="/get/country/PAK">PAK</a>
        <a class="btn btn-primary btn-sm" href="/get/country/SA">SA</a>
        <a class="btn btn-primary btn-sm" href="/get/country/SL">SL</a>
        <a class="btn btn-primary btn-sm" href="/get/country/WI">WI</a>
    </form>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th data-field="id">Player Name</th>
            <!--<th data-field="name">Country</th>-->
            <th data-field="price">Tests</th>
            <th data-field="price">Innings</th>
            <th data-field="price">Runs</th>
            <th data-field="price">Bat Average</th>
            <th data-field="price">Strike Rate</th>
            <th data-field="price">Highest Score</th>
            <th data-field="price">Hundreds</th>
            <th data-field="price">Fifties</th>
        </tr>
        </thead>
        <% players.forEach(function(player) { %>
        <tr>
            <td><%= player.player_name %></td>
            <!--<td><%= player.country %></td>-->
            <td><%= player.tests %></td>
            <td><%= player.innings %></td>
            <td><%= player.runs %></td>
            <td><%= player.bat_avg %></td>
            <td><%= player.strike_rate %></td>
            <td><%= player.highest_score %></td>
            <td><%= player.hundreds %></td>
            <td><%= player.fifties %></td>
        </tr>
        <% }); %>
    </table>
</div>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>